@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --dark-theme: #0d1017;
  --dark-grey: #141b23;
  --grey: #30373d;
  --white: #f1f6fc;

  --green: #238636;
  --red: #da3634;
  --blue: #2070eb;
  --yellow: #d19922;

  --field-size: 500px;
}

@media (max-height: 800px) {
  :root { --field-size: 300px }
}

@media (max-width: 768px) {
 :root { --field-size: 250px } 
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--dark-grey);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header, footer {
  width: 100vw;
  background-color: var(--dark-theme);
  color: white;
  padding: 10px 0;
}

header {
  font-size: 3em;
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playfield {
  width: var(--field-size);
  height: var(--field-size);
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.btn {
  width: 100%;
  height: 100%;
}

.green {
  background-color: var(--green);
}
.red {
  background-color: var(--red);
}
.blue {
  background-color: var(--blue);
}
.yellow {
  background-color: var(--yellow);
}

.btn.active {
  filter: brightness(150%);
}

.btn.game-over {
  transition: 300ms ease-out;
  filter: brightness(50%);
}

