@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --dark-theme: #0d1017;
  --dark-grey: #141b23;
  --grey: #30373d;
  --white: #f1f6fc;

  --green: #2e9f43;
  --red: #f85149;
  --blue: #378bfd;
  --yellow: #d19922;

  --field-size: 400px;
  --playfield-size: min(80%, 400px);
  --gap-size: 20px;
  --score-size: 1em;
  --title-size: 3em;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--dark-grey);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header,
footer {
  width: 100vw;
  background-color: var(--dark-theme);
  color: white;
  padding: 10px 0;
}

header {
  font-size: var(--title-size);
  font-weight: bold;
}

main {
  margin: 10px 0;
  height: auto;
  width: var(--playfield-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-size);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playfield {
  background-color: var(--grey);
  padding: 15px;
  border-radius: 50%;
  width: var(--field-size);
  height: var(--field-size);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  transition: 1000ms ease;
}

.playfield.game-over {
  filter: brightness(70%);
}

/* Color Buttons */
#green {
  background-color: var(--green);
  border-top-left-radius: 100%;
}
#red {
  background-color: var(--red);
  border-top-right-radius: 100%;
}
#blue {
  background-color: var(--blue);
  border-bottom-right-radius: 100%;
}
#yellow {
  background-color: var(--yellow);
  border-bottom-left-radius: 100%;
}

.btn {
  width: 100%;
  height: 100%;
  transition: all 200ms ease-in-out;
}

.btn.active {
  filter: brightness(300%);
  transition: 100ms ease-in-out;
}

.btn.game-over {
  transition: 1000ms ease-out;
  filter: brightness(50%);
}

.scoreboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: var(--score-size);
  color: var(--white);
}

.start-game {
  border-radius: 20px;
  border: 0;
  padding: 8px 24px;
  font-size: 1em;
  font-weight: bold;
  pointer-events: auto;
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
}

.start-game.hide {
  transition: 300ms ease-in;
  opacity: 0;
  pointer-events: none;
}

@media (max-height: 800px) {
  :root {
    --field-size: 300px;
    --score-size: 0.8em;
  }
}

@media (max-width: 768px) {
  :root {
    --field-size: 250px;
    --title-size: 2.5em;
  }
}

@media (max-width: 400px) {
  :root {
    --field-size: 200px;
    --gap-size: 30px;
  }
}
